@import-normalize;

@font-face {
	font-family: "Rubik", sans-serif;
	src: "./fonts/Rubik-Regular.ttf", "./fonts/Rubik-SemiBold.ttf";
}
@import "./vars.css";

body {
	background: var(--background);
	color: var(--text-body);
	font-family: "Rubik", sans-serif;
}

label {
	color: var(--label);
}

ul {
	margin: 0;
}

body {
	margin: 0;
}

a {
	text-decoration: none;
	position: relative;
	overflow: hidden;
	color: var(--text-body);
}

a::after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	height: 2px;
	width: 0;
	background: var(--gradient);
	transition: width 0.5s;
	border-radius: 20px;
}

a:hover::after {
	transition: width 0.5s;
	right: 0;
	width: 100%;
}
