@import "./vars.css";

.navbar {
	display: flex;
	align-items: center;
	height: var(--header-height);
}

.navbar ul {
	width: 100%;
	list-style: none;
}

.navbar_right {
	display: flex;
	justify-content: flex-end;
	gap: 1rem;
	margin-right: 1rem;
}

.navbar__link:active,
.navbar__link:visited {
	color: var(--text-body);
}

.active {
	color: var(--secondary) !important;
}
